Repository Armor-test/notification-database-786, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-qa, @Armor-test/dept-test, @Armor-test/grp-storage, @Armor-test/squad-reporting, @Armor-test/unit-cloud, @Armor-test/squad-research, @Armor-test/dept-reporting, @Armor-test/grp-integration, @Armor-test/squad-mobile, @Armor-test/squad-database, @Armor-test/squad-search, @Armor-test/squad-payments, @Armor-test/squad-ml, @Armor-test/team-frontend, @Armor-test/dept-automation, @Armor-test/team-research, @Armor-test/dept-api, @Armor-test/squad-ux, @Armor-test/team-reporting, @Armor-test/team-security, @Armor-test/dept-release, @Armor-test/squad-tooling, @Armor-test/team-logging, @Armor-test/dept-billing, @Armor-test/dept-data, @Armor-test/squad-frontend, @Armor-test/unit-test, @Armor-test/team-core, @Armor-test/grp-reporting, @Armor-test/dept-reliability, @Armor-test/unit-devops, @Armor-test/squad-cache, @Armor-test/grp-api, @Armor-test/grp-payments, @Armor-test/dept-ui, @Armor-test/devops, @Armor-test/infra, @Armor-test/ci-team, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/auth-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-qa, @Armor-test/dept-test, @Armor-test/grp-storage

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-qa, @Armor-test/dept-test, @Armor-test/grp-storage

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-payments, @Armor-test/squad-search

Add src/main.py
  src/main.py
Owners: @Armor-test/grp-api, @Armor-test/grp-payments, @Armor-test/dept-ui

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-qa, @Armor-test/dept-test, @Armor-test/grp-storage

.github/CODEOWNERS:

# CODEOWNERS file for notification-database-786
# Global owners - will be requested for all PRs
* @Armor-test/squad-qa @Armor-test/dept-test @Armor-test/grp-storage

# Directory ownership
/app/ @Armor-test/squad-reporting @Armor-test/unit-cloud
/extensions/ @Armor-test/unit-cloud @Armor-test/squad-research @Armor-test/dept-reporting
/shared/ @Armor-test/grp-integration @Armor-test/dept-test @Armor-test/squad-mobile
/lib/ @Armor-test/squad-database @Armor-test/squad-search
/test/ @Armor-test/squad-payments @Armor-test/squad-search
/dist/ @Armor-test/squad-ml @Armor-test/squad-research @Armor-test/team-frontend
/examples/ @Armor-test/dept-automation @Armor-test/team-research
/auth/ @Armor-test/team-frontend @Armor-test/dept-api
/pkg/ @Armor-test/squad-ux @Armor-test/team-reporting
/migrations/ @Armor-test/team-security @Armor-test/dept-release
/deploy/ @Armor-test/squad-tooling @Armor-test/dept-test
/assets/ @Armor-test/team-logging @Armor-test/dept-billing @Armor-test/squad-ux

# File type ownership
*.xml @Armor-test/squad-payments @Armor-test/squad-qa @Armor-test/dept-data
*.scala @Armor-test/dept-billing @Armor-test/squad-frontend
*.swift @Armor-test/unit-test @Armor-test/dept-data
*.md @Armor-test/team-core @Armor-test/squad-database @Armor-test/grp-reporting
*.config @Armor-test/squad-reporting @Armor-test/squad-database
*.yaml @Armor-test/team-research @Armor-test/dept-reliability @Armor-test/dept-api
*.tf @Armor-test/dept-data @Armor-test/unit-devops
*.kt @Armor-test/squad-cache @Armor-test/grp-integration
*.css @Armor-test/squad-research @Armor-test/squad-qa
*.cs @Armor-test/dept-billing @Armor-test/squad-search
*.py @Armor-test/grp-api @Armor-test/grp-payments @Armor-test/dept-ui

# Security and special files
Dockerfile @Armor-test/devops @Armor-test/infra
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
